<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="d-flex align-items-center px-3">
            <h5 class="me-auto mb-0">
                {{tabName}}
            </h5>
            <input v-if="tab === 'list'" type="text" v-model="repairName" class="form-control col mx-3"
                   :placeholder="translate('filter_repair')"
                   v-debounce:700ms="refetchRepairs">
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary me-2"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <a href="#" v-if="tab === 'form'" class="btn btn-primary"  @click.prevent="saveRepair">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-else-if="tab === 'details'" class="btn btn-primary" @click.prevent="editRepair(activeRepair)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details' && canRemove" class="btn btn-danger ms-2" @click.prevent="removeRepair(activeRepair)">
                {{translate('remove')}}
            </a>
        </div>
        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-if="repairs.length === 0" class="py-3 text-center text-muted">{{translate('no_results')}}</div>
            <div v-for="repair in repairs" class="list-row d-flex align-items-center flex-wrap">
                <div class="col-11 col-md clickable d-flex flex-column pe-3" :title="repair.description" @click="showRepair(repair)">
                    <small class="text-muted text-12">{{ translate('repair_description') }}</small>
                    <div class="ws-pre">
                        <span class="overflow-ellipsis-container">
                            <span class="overflow-ellipsis">{{ repair.description }}</span>
                        </span>
                    </div>
                </div>
                <i class="text-info ml-auto col-1 fa fa-edit clickable ms-auto order-md-2" @click="editRepair(repair)"></i>

                <div class="col-12 col-md d-flex flex-column"><small class="text-muted text-12">
                    {{ translate('car') }}</small>{{repair.car.manufacturer}} {{repair.car.model}}
                </div>
                <div class="col-12 col-md d-flex flex-column"><small class="text-muted text-12">
                    {{ translate('created_at') }}</small>{{repair.created_at}}
                </div>
            </div>
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else-if="tab === 'form'">
            <textarea rows="3" class="form-control" v-model="repairData.description" :placeholder="translate('repair_description')"/>
            <multiselect
                :options="cars"
                v-model="car"
                track-by="id"
                :custom-label="car => `${car.manufacturer} ${car.model} (${car.owner_name})`"
                label="model"
                class="mt-3"
                :placeholder="translate('repaired_car')"
            />
            <multiselect
                :multiple="true"
                :options="repairmen"
                v-model="selectedRepairmen"
                track-by="id"
                label="name"
                class="mt-3"
                :placeholder="translate('repairmen')"
            />
            <multiselect
                :multiple="true"
                @select="onPartSelect"
                @remove="onPartRemove"
                class="mt-3 mb-3"
                :options="parts"
                :model-value="selectedParts"
                track-by="id"
                :custom-label="(part) => `${part.name} (${part.manufacturer})`"
                :placeholder="translate('repair_parts')"
            />

            <h5>{{translate('used_parts_list')}}: <span v-if="selectedParts.length === 0">-</span></h5>

            <div v-for="part,index in selectedParts" class="d-flex align-items-center py-1">
                <div class="me-3">{{part.name}} ({{part.manufacturer}}) - {{translate('quantity')}}: {{part.quantity}} ({{translate('remains')}}: {{getPartQuantity(part.id) - part.quantity}})</div>
                <div class="text-danger fa fa-minus-square clickable me-2"
                     @click="onPartQuantityDecrement(part, index)"></div>
                <div class="text-primary fa fa-plus-square clickable"
                      v-if="0 < getPartQuantity(part.id) - part.quantity"
                      @click="onPartQuantityIncrement(part)"></div>
            </div>
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else>
            <div class="py-2">
                <span class="fw-bold">{{translate('repair_description')}}</span>:
                <div class="ws-pre">{{activeRepair.description}}</div>
            </div>
            <div class="py-2"><span class="fw-bold">{{translate('car')}}</span>: {{activeRepair.car.manufacturer}} {{activeRepair.car.model}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('repairmen')}}</span>: <span v-if="activeRepairRepairmen.length === 0">-</span>
                <ul>
                    <li v-for="repairman in activeRepairRepairmen">{{repairman}}</li>
                </ul>
            </div>
            <div class="py-2"><span class="fw-bold">{{translate('parts')}}</span>: <span v-if="activeRepairParts.length === 0">-</span>
                <ul>
                    <li v-for="part in activeRepairParts">{{part}}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";
import VueMultiselect from "@suadelabs/vue3-multiselect";
import "@suadelabs/vue3-multiselect/dist/vue3-multiselect.css";

export default {
    name: "repair-list",
    components: {
        multiselect: VueMultiselect
    },
    computed: {
        tabName() {
            return {
                'list': translate('repairs_log'),
                'details': translate('repair_details'),
                'form': translate(this.editedRepairId ? 'edit_repair' : 'create_repair')
            }[this.tab];
        },
        activeRepairRepairmen() {
            return this.activeRepair.repairmen.map(repairman => `${repairman.name} (${repairman.email})`);
        },
        activeRepairParts() {
            return this.activeRepair.parts.map(part => `${part.part.name} (${part.part.manufacturer}) = ${part.quantity}`);
        }
    },
    data() {
        return {
            canRemove: window.canRemove,
            repairName: '',
            repairs: [],
            editedRepairId: null,
            cars: [],
            repairmen: [],
            parts: [],
            car: null,
            selectedParts: [],
            selectedRepairmen: [],
            tab: 'list',
            activeRepair: null,
            repairData: {
                description: '',
                carId: null,
                repairmen: [],
                parts: []
            }
        }
    },
    methods: {
        removeRepair(repair) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('repair_delete', {id: repair.id}))
                .then(this.fetchRepairs)
                .then(this.fetchParts)
                .then(() => this.tab = 'list')
                .finally(loader.hide);
        },
        onPartRemove(part) {
            const index = this.selectedParts.findIndex(source => source.id === part.id)
            this.selectedParts.splice(index, 1);
        },
        getPartQuantity(id) {
            const sourcePart = this.parts.find(source => source.id === id);
            return sourcePart.available_quantity;
        },
        onPartQuantityDecrement(part, index) {
            part.quantity--;

            if (part.quantity < 1) {
                this.selectedParts.splice(index, 1);
            }
        },
        onPartQuantityIncrement(part) {
            const sourcePart = this.parts.find(source => source.id === part.id);
            if (sourcePart.quantity > this.getUsedPartQuantity(sourcePart.id)) {
                part.quantity++;
            }
        },
        getUsedPartQuantity(id) {
            return this.selectedParts.filter(part => part.id === id)
                .reduce((acc, val) => acc + val.quantity, 0);
        },
        onPartSelect(part) {
            if (part.available_quantity < 1) {
                alert(translate(('cannot_add_part_no_left')));
                return;
            }

            this.selectedParts.push({
                name: part.name,
                manufacturer: part.manufacturer,
                id: part.id,
                quantity: 1
            });
        },
        showRepair(repair) {
            this.tab = 'details';
            this.activeRepair = repair;
        },
        cancelEdit() {
            let loader = this.$loading.show();

            this.tab = 'list';
            this.editedRepairId = null;
            this.fetchParts().finally(loader.hide);
        },
        saveRepair() {
            let loader = this.$loading.show();

            this.repairData.carId = this.car?.id;
            this.repairData.parts = this.selectedParts;
            this.repairData.repairmen = this.selectedRepairmen.map(repairman => repairman.id);

            if (this.editedRepairId) {
                this.$http.post(Routing.generate('repair_edit', {id: this.editedRepairId}), this.repairData)
                    .then(this.fetchRepairs)
                    .then(this.fetchParts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedRepairId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('repair_create'), this.repairData)
                    .then(this.fetchRepairs)
                    .then(this.fetchParts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedRepairId = null;
                    }).finally(loader.hide);
            }
        },
        editRepair(repair) {
            this.repairData = repair;
            this.tab = 'form';
            this.editedRepairId = repair.id;
            this.selectedParts = repair.parts.map(part => ({
                name: part.part.name,
                manufacturer: part.part.manufacturer,
                quantity: part.quantity,
                id: part.part.id
            }))
            this.parts = this.parts.map(part => {
                const usedPart = this.selectedParts.find(sp => sp.id === part.id);
                return {
                    ...part,
                    available_quantity: part.available_quantity + (usedPart ? usedPart.quantity : 0)
                }
            });
            this.selectedRepairmen = repair.repairmen;
            this.car = repair.car;
        },
        showCreateForm() {
            this.repairData = {
                description: '',
                carId: null,
                repairmen: [],
                parts: []
            };

            this.tab = 'form';
            this.editedRepairId = null;
        },
        fetchCars() {
            return this.$http.get(Routing.generate('car_get'))
                .then(({data}) => this.cars = data.result);
        },
        fetchParts() {
            return this.$http.get(Routing.generate('part_get'))
                .then(({data}) => this.parts = data.result);
        },
        fetchRepairmen() {
            return this.$http.get(Routing.generate('repairmen_get'))
                .then(({data}) => this.repairmen = data.result);
        },
        refetchRepairs() {
            let loader = this.$loading.show();
            return this.$http.get(Routing.generate('repair_get', {q: this.repairName}))
                .then(({data}) => this.repairs = data.result)
                .finally(loader.hide);
        },
        fetchRepairs() {
            return this.$http.get(Routing.generate('repair_get'))
                .then(({data}) => this.repairs = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();
        Promise.all([
            this.fetchParts(),
            this.fetchCars(),
            this.fetchRepairmen(),
            this.fetchRepairs()
        ])
            .then(() => {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const repair = this.repairs.find((repair) => repair.id === Number(urlParams.get('id')));
                repair && this.showRepair(repair);
                window.history.replaceState(null, null, window.location.pathname);
            })
            .finally(loader.hide);
    }
}
</script>