<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="ms-auto" v-if="!anonymous">
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary me-2"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <a href="#" v-if="tab === 'form'" class="btn btn-primary"  @click.prevent="savePost">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-else-if="tab === 'details'" class="btn btn-primary" @click.prevent="editPost(activePost)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details'" class="btn btn-danger ms-2" @click.prevent="removePost(activePost)">
                {{translate('remove')}}
            </a>
        </div>
        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-for="post in posts" class="d-flex flex-column pb-5 pt-3">
                <h3 class="col d-flex align-items-center">
                    {{post.title}}
                    <span class="ms-auto" v-if="!anonymous">
                        <i class="text-info fa fa-edit clickable ml-auto" @click="editPost(post)"></i>
                        <i class="text-danger ps-3 fa fa-trash clickable ml-auto" @click="removePost(post)"></i>
                    </span>
                </h3>
                <div class="col py-3 ws-pre">{{post.content}}</div>
                <div class="col text-end"><i>{{post.created_by}} - {{post.created_at}}</i></div>
            </div>
        </div>

        <div class="w-100 mt-3  d-flex flex-column" v-else-if="tab === 'form' && !anonymous">
            <input type="text" class="form-control" v-model="postData.title" :placeholder="translate('title')">
            <textarea class="form-control mt-3" rows="10" v-model="postData.content" :placeholder="translate('content')"></textarea>
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";

export default {
    name: "post-list",
    data() {
        return {
            anonymous: window.anonymous,
            posts: [],
            tab: 'list',
            activePost: null,
            postData: {
                name: ''
            },
        }
    },
    methods: {
        removePost(post) {
            confirm(translate('remove_confirmation')) && this.$http.delete(Routing.generate('post_delete', {id: post.id}))
                .then(this.fetchPosts)
                .then(() => this.tab = 'list');
        },
        cancelEdit() {
            this.tab = 'list';
            this.editedPostId = null;
        },
        savePost() {
            let loader = this.$loading.show();
            if (this.editedPostId) {
                this.$http.post(Routing.generate('post_edit', {id: this.editedPostId}), this.postData)
                    .then(this.fetchPosts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedPostId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('post_create'), this.postData)
                    .then(this.fetchPosts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedPostId = null;
                    }).finally(loader.hide);
            }
        },
        editPost(post) {
            this.postData = post;
            this.tab = 'form';
            this.editedPostId = post.id;
        },
        showCreateForm() {
            this.postData.name = '';
            this.tab = 'form';
            this.editedPostId = null;
        },
        fetchPosts() {
            return this.$http.get(Routing.generate('post_get'))
                .then(({data}) => this.posts = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();
        this.fetchPosts().finally(loader.hide);
    }
}
</script>

<style scoped>

</style>