{% extends 'base.html.twig' %}

{% block title %}{{ 'login_to_system'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 400px;
            margin-top: 200px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container login-container align-items-center">
        <form class="row mx-auto text-center"
              action="{{ path('login') }}"
              method="post">
            <input type="hidden"
                   name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <h3 class="system-name">{{ 'login_to_system'|trans|raw }}</h3>

            {% if error %}
                <div class="alert alert-danger mt-3" role="alert">{{ 'login_error'|trans }}</div>
            {% endif %}

            <input class="mt-4 form-control"
                   type="text"
                   id="username"
                   name="_username"
                   value="{{ last_username }}"
                   placeholder="{{ 'email'|trans }}"/>
            <input class="mt-3 form-control"
                   type="password"
                   id="password"
                   name="_password"
                   placeholder="{{ 'password'|trans }}"/>


            <div class="d-flex align-items-center align-content-between mt-3 px-0 justify-content-between">
                <label>
                    <input type="checkbox" name="_remember_me" checked/>
                    {{ 'keep_me_logged_in'|trans }}
                </label>

                <a href="{{ path('app_forgot_password_request') }}">{{ 'forgot_password'|trans }}</a>
            </div>

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

            <button type="submit" class="btn btn-primary mt-3">{{ 'sign_in'|trans }}</button>
        </form>
    </div>
{% endblock %}
