{% extends 'base.html.twig' %}

{% block title %}{{ 'repair_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('repair-index') }}
{% endblock %}

{% block body %}
    {% include 'component/nav.html.twig' %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.canRemove = {{ is_granted('ROLE_MANAGER') ? 'true' : 'false' }};
    </script>
    {{ encore_entry_script_tags('repair-index') }}
{% endblock %}
