{% extends 'base.html.twig' %}

{% block title %}{{ 'contact_confirm'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .contact-container {
            max-width: 500px;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'component/nav.html.twig' %}
    <div id="container" class=" container contact-container align-items-center">
        <div class="text-center mx-auto">
            <h3 class="fw-bold mb-4">{{ 'message_sent'|trans}}</h3>
        </div>
    </div>
{% endblock %}
