{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .contact-container {
            max-width: 500px;
            margin-top: 100px;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'component/nav.html.twig' %}
    <div id="container" class=" container contact-container align-items-center">
        <div class="text-center mx-auto">
            <h3 class="fw-bold mb-4">{{ 'contact_with_garage'|trans|raw }}</h3>

            {{ form_start(form) }}
            {{ form_widget(form.name, {attr: {class: 'form-control'}}) }}
            {{ form_widget(form.email, {attr: {class: 'form-control mt-3'}} ) }}
            {{ form_widget(form.message, {attr: {class: 'form-control mt-3', rows: 5}} ) }}

            <button type="submit" class="w-100 btn btn-primary mt-4">{{ 'send'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
