<nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}"><strong>{{ 'system_name'|trans }}</strong></a>
        {% if app.user %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link {{ 'user_index' in app.request.attributes.get('_route') ? 'active' }}"
                           href="{{ path('user_index') }}">{{ 'users'|trans }}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {{ 'client_registry_index' in app.request.attributes.get('_route') ? 'active' }}"
                           href="{{ path('client_registry_index') }}">{{ 'clients'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ 'repair_registry_index' in app.request.attributes.get('_route') ? 'active' }}"
                           href="{{ path('repair_registry_index') }}">{{ 'repairs'|trans }}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {{ 'car_index' in app.request.attributes.get('_route') ? 'active' }}"
                           href="{{ path('car_index') }}">{{ 'cars'|trans }}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {{ 'part_index' in app.request.attributes.get('_route') ? 'active' }}"
                           href="{{ path('part_index') }}">{{ 'storage'|trans }}</a>
                    </li>
                </ul>

                {% if app.user %}
                    <div class="profile-info d-flex flex-column">
                        {{ app.user.email }}
                        <a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
                    {% if is_granted('IS_IMPERSONATOR') %}
                        <a href="{{ impersonation_exit_path(path('homepage') ) }}">{{ 'return_to_admin'|trans }}</a>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="profile-info pe-2 ms-auto">
                <a href="{{ path('contact') }}">{{ 'contact'|trans }}</a>
            </div>
            <div class="profile-info">
                <a href="{{ path('login') }}">{{ 'login'|trans }}</a>
            </div>
        {% endif %}
    </div>
</nav>
