<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="d-flex align-items-center px-3">
            <h5 class="me-auto mb-0">
                {{tabName}}
            </h5>
            <input v-if="tab === 'list'" type="text" v-model="userName" class="form-control col mx-3"
                   :placeholder="translate('filter_by_name_email')"
                   v-debounce:700ms="refetchUsers">
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary me-2"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <a href="#" v-if="tab === 'form'" class="btn btn-primary"  @click.prevent="saveUser">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-else-if="tab === 'details'" class="btn btn-primary" @click.prevent="editUser(activeUser)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details'" class="btn btn-danger ms-2" @click.prevent="removeUser(activeUser)">
                {{translate('remove')}}
            </a>
        </div>

        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-if="users.length === 0" class="py-3 text-center text-muted">{{translate('no_results')}}</div>
            <div v-for="user in users" class="list-row d-flex align-items-center flex-wrap">
                <div class="col-11 col-md clickable d-flex flex-column" @click="showUser(user)">
                    <small class="text-muted text-12"> {{ translate('name') }}</small>
                    {{user.name}}
                </div>
                <div class="ml-auto col-1 ms-auto order-md-2">
                    <i class="text-info fa fa-user-edit clickable me-2" @click="editUser(user)"></i>
                    <i class="text-warning fa fa-user-secret clickable" v-if="email !== user.email" @click="impersonateUser(user)"></i>
                </div>
                <div class="col-12 col-md d-flex flex-column">
                    <small class="text-muted text-12"> {{ translate('email') }}</small>{{user.email}}
                </div>
                <div class="col-12 col-md d-flex flex-column">
                    <small class="text-muted text-12"> {{ translate('created_at') }}</small>{{user.created_at}}
                </div>
            </div>
        </div>

        <div class="w-100 mt-3 d-flex flex-column px-3" v-else-if="tab === 'details'">
            <div><span class="fw-bold">{{translate('name')}}</span>: {{activeUser.name}}</div>
            <div><span class="fw-bold">{{translate('email')}}</span>: {{activeUser.email}}</div>
            <div><span class="fw-bold">{{translate('roles')}}</span>: {{activeUserRoles}}</div>
            <div><span class="fw-bold">{{translate('created_at')}}</span>: {{activeUser.created_at}}</div>
        </div>

        <div class="w-100 mt-3 d-flex flex-column px-3" v-else-if="editedUserId && tab === 'form'">
            <input type="text" class="form-control" v-model="editedUser.name" :placeholder="translate('name')">
            <input type="email" class="form-control mt-3" v-model="editedUser.email" :placeholder="translate('email')">
            <multiselect
                :multiple="true"
                :options="roles"
                v-model="editedUser.roles"
                class="mt-3"
            />
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else-if="tab === 'form'">
            <input type="text" class="form-control" v-model="newUser.name" :placeholder="translate('name')">
            <input type="email" class="form-control mt-3" v-model="newUser.email" :placeholder="translate('email')">
            <input type="password" class="form-control mt-3" v-model="newUser.password" :placeholder="translate('password')">
            <multiselect
                :multiple="true"
                :options="roles"
                v-model="newUser.roles"
                class="mt-3"
            />
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";
import VueMultiselect from "@suadelabs/vue3-multiselect";
import "@suadelabs/vue3-multiselect/dist/vue3-multiselect.css";

export default {
    name: "list",
    components: {
        multiselect: VueMultiselect
    },
    computed: {
        tabName() {
            return {
                'list': translate('user_list'),
                'details': translate('details'),
                'form': translate(this.editedUserId ? 'edit_user' : 'create_user')
            }[this.tab];
        },
        activeUserRoles() {
            return this.activeUser.roles.join(', ');
        }
    },
    data() {
        return {
            email: window.email,
            tab: 'list',
            userName: '',
            roles: window.roles,
            users: [],
            showForm: false,
            activeUser: null,
            editedUserId: null,
            editedUser: {
                name: '',
                email: '',
                roles: []
            },

            newUser: {
                name: '',
                email: '',
                password: '',
                roles: ['ROLE_USER']
            }
        }
    },
    methods: {
        impersonateUser(user) {
            window.location.href = Routing.generate('homepage', {'_switch_user': user.email});
        },
        removeUser(user) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('user_delete', {id: user.id}))
                .then(this.fetchUsers)
                .then(() => this.tab = 'list')
                .finally(loader.hide);
        },
        showUser(user) {
            this.tab = 'details';
            this.activeUser = user;
        },
        cancelEdit() {
            this.tab = 'list';
            this.editedUserId = null;
        },
        saveUser() {
            let loader = this.$loading.show();
            if (this.editedUserId) {
                this.$http.post(Routing.generate('user_update', {id: this.editedUserId}), this.editedUser)
                    .then(this.fetchUsers)
                    .then(() => {
                        this.tab = 'list';
                        this.editedUserId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('user_create'), this.newUser)
                    .then(this.fetchUsers)
                    .then(() => {
                        this.tab = 'list';
                        this.editedUserId = null;
                    }).finally(loader.hide);
            }
        },
        editUser(user) {
            this.editedUser = user;
            this.tab = 'form';
            this.editedUserId = user.id;
        },
        showCreateForm() {
            this.tab = 'form';
            this.newUser = {
                name: '',
                email: '',
                password: '',
                roles: ['ROLE_USER']
            };

            this.editedUserId = null;
        },
        refetchUsers() {
            let loader = this.$loading.show();
            return this.$http.get(Routing.generate('users_get', {q: this.userName}))
                .then(({data}) => this.users = data.result).finally(loader.hide);
        },
        fetchUsers() {
            return this.$http.get(Routing.generate('users_get'))
                .then(({data}) => this.users = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();
        this.fetchUsers().finally(loader.hide);
    }
}
</script>

<style scoped>

</style>