@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './nav.css';
@import './list.css';

body {
    background-color: white;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1000px;
}

.clickable {
    cursor: pointer;
}
.ws-pre {
    white-space: pre-wrap;
}

.overflow-ellipsis {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.overflow-ellipsis-container {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.system-name strong {
    font-weight: 1000;
}
.text-12 {
    font-size: 12px;
}
.highlight {
    background-color: rgba(0, 128, 17, 0.12) !important;
}