.list-row {
    padding: 10px 0;
    padding-left: 1rem !important;
}

.list-row:hover {
    background-color: rgba(128, 128, 128, 0.11) !important;
}

.list-row:nth-child(even) {
    background: #FFF
}

.list-row:nth-child(odd) {
    background: rgba(204, 204, 204, 0.13)
}