{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('post-index') }}
{% endblock %}

{% block body %}
    {% include 'component/nav.html.twig' %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.anonymous = {{ app.user ? 'false' : 'true' }};
    </script>

    {{ encore_entry_script_tags('post-index') }}
{% endblock %}
