<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="d-flex align-items-center px-3">
            <h5 class="me-auto mb-0">
                {{tabName}}
            </h5>
            <input v-if="tab === 'list'" type="text" v-model="clientName" class="form-control col mx-3"
                   :placeholder="translate('filter_by_name')"
                   v-debounce:700ms="refetchClients">
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary me-2"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <a href="#" v-if="tab === 'form'" class="btn btn-primary"  @click.prevent="saveClient">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-else-if="tab === 'details'" class="btn btn-primary" @click.prevent="editClient(activeClient)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details' && canRemove && activeClientCars.length === 0" class="btn btn-danger ms-2" @click.prevent="removeClient(activeClient)">
                {{translate('remove')}}
            </a>
        </div>
        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-if="clients.length === 0" class="py-3 text-center text-muted">{{translate('no_results')}}</div>
            <div v-for="client in clients" class="list-row d-flex align-items-center flex-wrap"
                 :class="{highlight:client.visits_dates.indexOf(todayDate) !== -1}">
                <div class="col-11 col-md clickable d-flex flex-column" @click="showClient(client)">
                    <small class="text-muted text-12">{{ translate('name') }}</small> {{client.name}}
                </div>
                <i class="text-info ml-auto col-1 fa fa-user-edit clickable ms-auto order-md-2" @click="editClient(client)"></i>
                <div class="col-12 col-md d-flex flex-column">
                    <small class="text-muted text-12">{{ translate('created_at') }}</small>{{client.created_at}}
                </div>

                <div class="col-12 col-md-2 d-flex flex-column">
                    <small class="text-muted text-12">{{ translate('cars') }}</small>{{client.cars.length}}
                </div>
                <div class="col-12 col-md-2 d-flex flex-column">
                    <small class="text-muted text-12">{{ translate('pending_visits') }}</small>{{client.pending_visits.length}}
                </div>
            </div>
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else-if="tab === 'form'">
            <input type="text" class="form-control" v-model="clientData.name" :placeholder="translate('name')">
            <input type="email" class="form-control mt-3" v-model="clientData.email" :placeholder="translate('email')">
            <input type="tel" class="form-control mt-3" v-model="clientData.phone" :placeholder="translate('phone')">
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else>
            <div class="py-2"><span class="fw-bold">{{translate('name')}}</span>: {{activeClient.name}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('email')}}</span>: {{activeClient.email || '-'}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('phone')}}</span>: {{activeClient.phone || '-'}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('created_at')}}</span>: {{activeClient.created_at}}</div>
            <div class="py-2">
                <span class="fw-bold">{{translate('cars')}}:</span><span v-if="activeClient.cars.length === 0">-</span>
                <ul v-else>
                    <li v-for="car in activeClient.cars">{{car.manufacturer}} {{car.model}}
                        <a :href="routeCar(car.id)"><i class="fa fa-external-link-alt"></i></a>
                    </li>
                </ul>
            </div>
            <div class="py-2">
                <span class="fw-bold">{{translate('visits')}}:</span><span v-if="visits.length === 0">-</span>
                <div v-for="visit in visits" :class="{'text-muted':activeClient.pending_visits.map(pv => pv.id).indexOf(visit.id) === -1}" class="p-2 card my-1 col-12 col-md-6">
                    <div class="d-flex flex-column " v-if="editedVisit && editedVisit.id === visit.id">
                        <input type="datetime-local" class="form-control form-control-sm" v-model="editedVisit.date">
                        <textarea v-model="editedVisit.description" class="form-control form-control-sm mt-2" :placeholder="translate('description')"></textarea>
                        <div class="d-flex">
                            <button class="btn btn-outline-primary mt-2 w-100 me-1" @click="editedVisit = null">{{translate('cancel')}}</button>
                            <button class="btn btn-outline-success mt-2 w-100 ms-1" @click="updateVisit(editedVisit)">{{translate('save')}}</button>
                        </div>
                    </div>
                    <div v-else>
                        <div class>{{visit.date}}</div>
                        <div class="position-absolute" style="right: 5px; top: 5px">
                            <i class="fa fa-edit text-primary me-2 clickable" @click="editVisit(visit)"></i>
                            <i class="fa fa-trash text-danger clickable" @click="removeVisit(visit)"></i>
                        </div>
                        <div> {{visit.description}}</div>
                    </div>
                </div>
                <div class="d-flex flex-column col-12 col-md-6 mt-4">
                    <div>{{translate('new_visit')}}</div>
                    <input type="datetime-local" class="form-control form-control-sm" v-model="newVisit.date">
                    <textarea v-model="newVisit.description" class="form-control form-control-sm mt-2" :placeholder="translate('description')"></textarea>
                    <button class="btn btn-outline-success mt-2" @click="addVisit">{{translate('add')}}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";

export default {
    name: "client-list",
    computed: {
        todayDate() {
            return new Date().toJSON().slice(0,10);
        },
        tabName() {
            return {
                'list': translate('client_registry'),
                'details': translate('details'),
                'form': translate(this.editedClientId ? 'edit_client' : 'create_client')
            }[this.tab];
        },
        activeClientCars() {
            return this.activeClient.cars.map(car => `${car.manufacturer} ${car.model}`);
        }
    },
    data() {
        return {
            newVisit: {
                date: '',
                description: ''
            },
            visits: [],
            canRemove: window.canRemove,
            clientName: '',
            clients: [],
            tab: 'list',
            editedClientId: null,
            activeClient: null,
            clientData: {
                name: '',
                email: '',
                phone: ''
            },
            editedVisit: null
        }
    },
    methods: {
        routeCar(id) {
            return Routing.generate('car_index', {id: id});
        },
        updateVisit(visit) {
            let loader = this.$loading.show();
            this.$http.post(Routing.generate('visit_edit', {id: visit.id}), visit)
                .then(this.fetchClients)
                .then(this.fetchVisits)
                .then(() => this.editedVisit = null)
                .finally(loader.hide);
        },
        editVisit(visit) {
            this.editedVisit = visit;
            this.editedVisit.date = visit.date_raw;
        },
        removeVisit(visit) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('visit_delete',{id: visit.id}) )
                .then(this.fetchVisits).finally(loader.hide);
        },
        addVisit() {
            let loader = this.$loading.show();
            this.$http.post(Routing.generate('visit_create'), {
                ...this.newVisit,
                client: this.activeClient.id
            })
                .then(this.fetchVisits)
                .then(() => this.newVisit = {date: '', description: ''})
                .finally(loader.hide);
        },
        removeClient(client) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('client_delete', {id: client.id}))
                .then(this.fetchClients)
                .then(() => this.tab = 'list')
                .finally(loader.hide);
        },
        showClient(client) {
            this.tab = 'details';
            this.activeClient = client;

            let loader = this.$loading.show();
            this.fetchVisits().finally(loader.hide);
        },
        cancelEdit() {
            this.tab = 'list';
            this.editedClientId = null;
        },
        saveClient() {
            let loader = this.$loading.show();
            if (this.editedClientId) {
                this.$http.post(Routing.generate('client_edit', {id: this.editedClientId}), this.clientData)
                    .then(this.fetchClients)
                    .then(() => {
                        this.tab = 'list';
                        this.editedClientId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('client_create'), this.clientData)
                    .then(this.fetchClients)
                    .then(() => {
                        this.tab = 'list';
                        this.editedClientId = null;
                    }).finally(loader.hide);
            }
        },
        editClient(client) {
            this.clientData = client;
            this.tab = 'form';
            this.editedClientId = client.id;
        },
        showCreateForm() {
            this.clientData.name = '';
            this.clientData.email = '';
            this.clientData.phone = '';
            this.tab = 'form';
            this.editedClientId = null;
        },
        refetchClients() {
            let loader = this.$loading.show();
            return this.$http.get(Routing.generate('client_get', {q: this.clientName}))
                .then(({data}) => this.clients = data.result).finally(loader.hide);
        },
        fetchVisits() {
            return this.$http.get(Routing.generate('visit_get', {clientId: this.activeClient.id}))
                .then(({data}) => this.visits = data.result);
        },
        fetchClients() {
            return this.$http.get(Routing.generate('client_get'))
                .then(({data}) => this.clients = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();
        this.fetchClients().finally(loader.hide);
    }
}
</script>

<style scoped>
</style>