{% extends 'base.html.twig' %}

{% block title %}{{ 'users_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user-index') }}
{% endblock %}


{% block body %}
    {% include 'component/nav.html.twig' %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.roles = {{ roles|json_encode|raw }};
        window.email = '{{ app.user.email }}';
    </script>
    {{ encore_entry_script_tags('user-index') }}
{% endblock %}

