<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="d-flex align-items-center px-3">
            <h5 class="me-auto mb-0">
                {{tabName}}
            </h5>
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary me-2"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <input v-if="tab === 'list'" type="text" v-model="carName" class="form-control col mx-3"
                   :placeholder="translate('filter_by_model')"
                   v-debounce:700ms="refetchCars">
            <a href="#" v-if="tab === 'form'" class="btn btn-primary"  @click.prevent="saveCar">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-else-if="tab === 'details'" class="btn btn-primary" @click.prevent="editCar(activeCar)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details' && canRemove" class="btn btn-danger ms-2" @click.prevent="removeCar(activeCar)">
                {{translate('remove')}}
            </a>
        </div>
        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-if="cars.length === 0" class="py-3 text-center text-muted">{{translate('no_results')}}</div>
            <div v-for="car in cars" class="list-row d-flex align-items-center flex-wrap">
                <div class="col-11 col-md clickable d-flex flex-column" @click="showCar(car)">
                    <small class="text-muted text-12">{{ translate('car_model') }}</small>{{ car.model }}
                </div>
                <i class="text-info ml-auto col-1 fa fa-edit clickable ms-auto order-md-2" @click="editCar(car)"></i>
                <div class="col-12 col-md d-flex flex-column">
                    <small class="text-muted text-12">{{ translate('manufacturer') }}</small>{{ car.manufacturer }}
                </div>
                <div class="col-12 col-md d-flex flex-column"><small class="text-muted text-12">
                    {{ translate('owner_name') }}</small>{{ car.owner_name }}
                </div>
                <div class="col-12 col-md d-flex flex-column"><small class="text-muted text-12">
                    {{ translate('created_at') }}</small>{{ car.created_at }}
                </div>
            </div>
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else-if="tab === 'form'">
            <input type="text" class="form-control" v-model="carData.model" :placeholder="translate('car_model')">
            <input type="text" class="form-control mt-3" v-model="carData.manufacturer" :placeholder="translate('manufacturer')">
            <input type="text" class="form-control mt-3" v-model="carData.vin" :placeholder="translate('vin')">
            <multiselect
                class="mt-3"
                :options="clientOptions"
                v-model="client"
                track-by="id"
                label="name"
                :placeholder="translate('select_client')"
            />
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else>
            <div class="py-2"><span class="fw-bold">{{translate('car_model')}}</span>: {{activeCar.model}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('manufacturer')}}</span>: {{activeCar.manufacturer}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('created_at')}}</span>: {{activeCar.created_at}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('owner_name')}}</span>: {{activeCar.owner_name}}</div>
            <div class="py-2"><span class="fw-bold">{{translate('repairs_log')}}</span>: <span v-if="activeCar.repairs.length === 0">-</span>
                <div class="ws-pre py-2" v-for="repair,index in activeCar.repairs">
                    {{index + 1}}. {{repair.description}} <br>
                   - <small>{{repair.created_at}} <a :href="routeRepair(repair.id)" class="ms-2"><i class="fa fa-external-link-alt"></i></a></small>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";
import VueMultiselect from "@suadelabs/vue3-multiselect";

import "@suadelabs/vue3-multiselect/dist/vue3-multiselect.css"

export default {
    name: "car-list",
    components: {
        multiselect: VueMultiselect
    },
    computed: {
        tabName() {
            return {
                'list': translate('car_registry'),
                'details': translate('details'),
                'form': translate(this.editedCarId ? 'edit_car' : 'create_car')
            }[this.tab];
        },
        clientOptions() {
            return this.clients.map(client => ({id: client.id, name: client.name}));
        }
    },
    data() {
        return {
            canRemove: window.canRemove,
            carName: '',
            cars: [],
            tab: 'list',
            activeCar: null,
            clients: [],
            client: null,
            editedCarId: null,
            carData: {
                model: '',
                manufacturer: '',
                vin: '',
                client: null
            },
        }
    },
    methods: {
        routeRepair(id) {
            return Routing.generate('repair_registry_index', {id: id});
        },
        removeCar(car) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('car_delete', {id: car.id}))
                .then(this.fetchCars)
                .then(() => this.tab = 'list')
                .finally(loader.hide);
        },
        showCar(car) {
            this.tab = 'details';
            this.activeCar = car;
            this.client = this.clients.find(client => client.id === car.owner);
        },
        cancelEdit() {
            this.tab = 'list';
            this.editedCarId = null;
        },
        saveCar() {
            this.carData.client = this.client.id;
            let loader = this.$loading.show();

            if (this.editedCarId) {
                this.$http.post(Routing.generate('car_edit', {id: this.editedCarId}), this.carData)
                    .then(this.fetchCars)
                    .then(() => {
                        this.tab = 'list';
                        this.editedCarId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('car_create'), this.carData)
                    .then(this.fetchCars)
                    .then(() => {
                        this.tab = 'list';
                        this.editedCarId = null;
                    }).finally(loader.hide);
            }
        },
        editCar(car) {
            this.carData = car;
            this.tab = 'form';
            this.editedCarId = car.id;
            this.client = this.clients.find(client => client.id === car.owner);
        },
        showCreateForm() {
            this.carData.model = '';
            this.tab = 'form';
            this.editedCarId = null;
        },
        fetchClients() {
            return this.$http.get(Routing.generate('client_get'))
                .then(({data}) => this.clients = data.result);
        },
        refetchCars() {
            let loader = this.$loading.show();
            return this.$http.get(Routing.generate('car_get', {q: this.carName}))
                .then(({data}) => this.cars = data.result).finally(loader.hide);
        },
        fetchCars() {
            return this.$http.get(Routing.generate('car_get'))
                .then(({data}) => this.cars = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();

        Promise.all([
            this.fetchCars(),
            this.fetchClients()
        ])
            .then(() => {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const car = this.cars.find((car) => car.id === Number(urlParams.get('id')));
                car && this.showCar(car);
                window.history.replaceState(null, null, window.location.pathname);
            })
            .finally(loader.hide);
    }
}
</script>
