<template>
    <div class="container mt-3 d-flex flex-column">
        <div class="d-flex align-items-center px-3">
            <h5 class="me-auto mb-0">
                {{tabName}}
            </h5>
            <input v-if="tab === 'list'" type="text" v-model="partName" class="form-control col mx-3"
                   :placeholder="translate('filter_by_name')"
                   v-debounce:700ms="refetchParts">
            <a href="#" v-if="tab !== 'list'" class="btn btn-outline-primary"  @click.prevent="cancelEdit">
                {{translate('cancel')}}
            </a>
            <a href="#" v-if="tab === 'form'" class="btn btn-primary ms-2"  @click.prevent="savePart">
                {{translate('save')}}
            </a>
            <a href="#" v-else-if="tab === 'list'" class="btn btn-primary ms-2" @click.prevent="showCreateForm">
                {{translate('create')}}
            </a>
            <a href="#" v-if="tab === 'details'" class="btn btn-primary ms-2" @click.prevent="editPart(activePart)">
                {{translate('edit')}}
            </a>
            <a href="#" v-if="tab === 'details' && canRemove" class="btn btn-danger ms-2" @click.prevent="removePart(activePart)">
                {{translate('remove')}}
            </a>
        </div>
        <div class="w-100 mt-3" v-if="tab === 'list'">
            <div v-if="parts.length === 0" class="py-3 text-center text-muted">{{translate('no_results')}}</div>
            <div v-for="part in parts" class="list-row d-flex align-items-center flex-wrap">
                <div class="col-11 col-md clickable d-flex flex-column" @click="showPart(part)">
                    <small class="text-muted text-12">{{ translate('part_name') }}</small>
                    {{part.name}}
                </div>
                <i class="text-info ml-auto col-1 fa fa-edit clickable ms-auto order-md-2" @click="editPart(part)"></i>

                <div class="col-12 col-md d-flex flex-column"
                     :class="{'text-danger': isPartLowInStock(part)}"
                     :title="isPartLowInStock(part) ? translate('part_low_in_stock') : ''">
                    <small class="text-muted text-12">{{ translate('part_availability') }}</small>{{part.available_quantity}}/{{part.quantity}}
                </div>
                <div class="col-12 col-md d-flex flex-column"><small class="text-muted text-12">
                    {{ translate('manufacturer') }}</small>{{part.manufacturer}}
                </div>
            </div>
        </div>
        <div class="w-100 mt-3  d-flex flex-column px-3" v-else-if="tab === 'form'">
            <input type="text" class="form-control" v-model="partData.name" :placeholder="translate('part_name')">
            <input type="text" class="form-control mt-3" v-model="partData.manufacturer" :placeholder="translate('manufacturer')">
            <input type="number" class="form-control mt-3" v-model="partData.quantity" :placeholder="translate('quantity')">
        </div>

        <div class="w-100 mt-3  d-flex flex-column px-3" v-else>
            <div><span class="fw-bold">{{translate('part_name')}}</span>: {{activePart.name}}</div>
            <div><span class="fw-bold">{{translate('manufacturer')}}</span>: {{activePart.manufacturer}}</div>
            <div><span class="fw-bold">{{translate('quantity')}}</span>: {{activePart.quantity}}</div>
            <div><span class="fw-bold">{{translate('available')}}</span>: {{activePart.available_quantity}}</div>
        </div>
    </div>
</template>

<script>
import {translate} from "../translator";

export default {
    name: "part-list",
    computed: {
        tabName() {
            return {
                'list': translate('part_registry'),
                'details': translate('details'),
                'form': translate(this.editedPartId ? 'edit_part' : 'create_part')
            }[this.tab];
        },
    },
    data() {
        return {
            canRemove: window.canRemove,
            editedPartId: null,
            partName: '',
            parts: [],
            tab: 'list',
            activePart: null,
            lowInStockThreshold: 10,
            partData: {
                name: '',
                manufacturer: '',
                quantity: 0
            },
        }
    },
    methods: {
        isPartLowInStock(part) {
            return (part.available_quantity / part.quantity) * 100 < this.lowInStockThreshold;
        },
        removePart(part) {
            if (false === confirm(translate('remove_confirmation'))) {
                return;
            }

            let loader = this.$loading.show();
            this.$http.delete(Routing.generate('part_delete', {id: part.id}))
                .then(this.fetchParts)
                .then(() => this.tab = 'list')
                .finally(loader.hide);
        },
        showPart(part) {
            this.tab = 'details';
            this.activePart = part;
        },
        cancelEdit() {
            this.tab = 'list';
            this.editedPartId = null;
        },
        savePart() {
            let loader = this.$loading.show();
            if (this.editedPartId) {
                this.$http.post(Routing.generate('part_edit', {id: this.editedPartId}), this.partData)
                    .then(this.fetchParts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedPartId = null;
                    }).finally(loader.hide);
            } else {
                this.$http.post(Routing.generate('part_create'), this.partData)
                    .then(this.fetchParts)
                    .then(() => {
                        this.tab = 'list';
                        this.editedPartId = null;
                    }).finally(loader.hide);
            }
        },
        editPart(part) {
            this.partData = part;
            this.tab = 'form';
            this.editedPartId = part.id;
        },
        showCreateForm() {
            this.partData = {
                name: '',
                manufacturer: '',
                quantity: 0
            };

            this.tab = 'form';
            this.editedPartId = null;
        },
        refetchParts() {
            let loader = this.$loading.show();
            return this.$http.get(Routing.generate('part_get', {q: this.partName}))
                .then(({data}) => this.parts = data.result).finally(loader.hide);
        },
        fetchParts() {
            return this.$http.get(Routing.generate('part_get'))
                .then(({data}) => this.parts = data.result);
        },
        translate: translate
    },
    mounted() {
        let loader = this.$loading.show();
        this.fetchParts()
            .then(loader.hide);
    }
}
</script>

<style scoped>

</style>