{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 400px;
            margin-top: 200px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container login-container align-items-center">
    <div class="row mx-auto text-center">
    <p>
        {{ 'check_email_reset'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'check_if_no_email'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans }}</a>.</p>
    </div>
</div>
{% endblock %}
