{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 400px;
            margin-top: 200px;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container login-container align-items-center">
    <div class="row mx-auto text-center">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h3>{{ 'reset_password'|trans }}</h3>

    {{ form_start(requestForm, {attr:{class:'px-0'}}) }}
        {{ form_widget(requestForm.email, {attr:{class: 'form-control mt-4'}}) }}
        <div class="mt-3">
            <small>
                {{ 'enter_email_to_reset_password'|trans|raw }}
            </small>
        </div>

        <button class="btn btn-primary w-100 mt-3">{{ 'send'|trans }}</button>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
