{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .login-container {
            max-width: 400px;
            margin-top: 200px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container login-container align-items-center">
        <div class="row mx-auto text-center">
            <h3>{{ 'reset_password'|trans }}</h3>

            {{ form_start(resetForm) }}
            {{ form_widget(resetForm.plainPassword) }}
            <button class="btn btn-primary mt-3 w-100">{{ 'reset_password'|trans }}</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
