<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
              content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {{ encore_entry_link_tags('app') }}

        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    {% if app.user %}
        <script defer src="{{ path('bazinga_jstranslation_js', {domain: 'messages'}) }}"></script>
    {% endif %}

    {% block javascripts %}
    {% endblock %}
</html>
